package {{package}};

import groovy.transform.Canonical
import groovy.transform.CompileStatic
import com.fasterxml.jackson.databind.ObjectMapper
import com.fasterxml.jackson.datatype.jsr310.JavaTimeModule
import com.fasterxml.jackson.annotation.JsonProperty

{{#imports}}
import {{import}};
{{/imports}}

{{#models}}
{{#model}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{>modelClass}}{{/isEnum}}
{{/model}}
{{/models}}
