# Ignore Gradle project-specific cache directory
.gradle
.idea
# ingore various hidden directories
.nextflow*
.DS_Store
.venv
.ruff_cache
.envrc
*.pyc
uv.lock
.mypy_cache
.pytest_cache
.vscode
.coverage
__pycache__

# locally customizable script to push a build of a development version to a s3/http accessible location for testing
push_dev.local
claude.md

# ignore the code generator jars downloaded by the fuzzball api generation script
openapi-generator-cli*.jar

# Ignore Gradle build and other output directoies
build
work
out
temp
